1.	Write a Python program to convert kilometers to miles?

In [5]:
def KMtoMIle(a):
    print(a," KM is equivalent to ",float(0.62*a), "in Miles")

In [6]:
KMtoMIle(100)

100  KM is equivalent to  62.0 in Miles

2.	Write a Python program to convert Celsius to Fahrenheit?

In [7]:
def cTOf(a):
    print(a,"degree celsius is equivalent to ", float((a*1.8)+32), "F")

In [9]:
cTOf(100)

100  degree celsius is equivalent to  212.0 F

3.	Write a Python program to display calendar?

In [12]:
import calendar
year=2022
month=11
# display specific month
print(calendar.month(year,month))

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [13]:
import calendar
year=2022
#month=11
# display entire year
print(calendar.calendar(year))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

4.	Write a Python program to solve quadratic equation?

In [16]:
import cmath
def quadratic_equation(a,b,c):
    dis = (b**2) - (4 * a*c)
  
# find two results
    ans1 = (-b-cmath.sqrt(dis))/(2 * a)
    ans2 = (-b + cmath.sqrt(dis))/(2 * a)
  
# printing the results
    print('The roots are')
    print(ans1)
    print(ans2)

In [17]:
quadratic_equation(1,2,3)

The roots are
(-1-1.4142135623730951j)
(-1+1.4142135623730951j)

5.	Write a Python program to swap two variables without temp variable?

In [18]:
def swap_variables(a,b):
    a=a+b
    b=a-b
    a=a-b
    print("New Value of a",a)
    print("New Value of b",b)

In [19]:
swap_variables(3,4)

New Value of a 4
New Value of b 3